<nav class="navbar " id="back">
    <a class="navbar-brand " class="title" routerLink="/">TASK-TRACKER </a>
    <div>
        <button type="button" class="btn btn-outline-dark but"><a routerLink="/" style="color: white;"> Home
            </a></button>
        <button type="button" class="btn btn-outline-dark but"><a routerLink="/features" style="color: white;"> Features
            </a></button>
        <button type="button" class="btn btn-outline-dark but"><a routerLink="/AboutUs" style="color: white;"> About us
            </a></button>
    </div>
</nav>
<div class="container">
    <h2>About Us</h2>
    <p>Welcome to our task management application. We are dedicated to helping you stay organized and productive by
        providing a simple and efficient way to manage your tasks.</p>
    <p>Our application allows you to add new tasks, set their priority level and due date, update or delete existing
        tasks, mark tasks as completed, and archive tasks that you no longer need to see in your active task list.</p>
    <p>You can also search for tasks based on their title to quickly find the information you need. Additionally, by
        clicking on the Notify button, you can view the details of your tasks, including the title, due date, and due
        date status, such as 'overdue', 'not due yet', or 'due soon'.</p>
    <p>We hope our task management application helps you stay organized and enhances your productivity. If you have any
        feedback or suggestions, please feel free to reach out to us. Happy task management !</p>
</div>