
<nav class="navbar " id="back">
    <a class="navbar-brand " class="title" routerLink="/">TASK-TRACKER </a>
    <div >
    <button type="button"  class="btn btn-outline-dark but"><a routerLink="/" style="color: white;"> Home </a></button>
    <button type="button"  class="btn btn-outline-dark but"><a routerLink="/features" style="color: white;"> Features </a></button>
    <button type="button"  class="btn btn-outline-dark but"><a routerLink="/AboutUs" style="color: white;"> About us  </a></button>
   </div>
 </nav>

 <div class="container">
 <h2>Features</h2>
<ul>
  <li>User can add new tasks.</li>
  <li>Each task will have a priority level (High/Medium/Low) and a due date.</li>
  <li>Existing tasks can be updated, deleted, marked as 'completed' or moved to archive by the user.</li>
  <li>User has a search option to search tasks according to the title of the task.</li>
  <li>The application displays tasks with 'Title', 'Due Date', and 'Due Date Status' by clicking on the Notify button. The due date statuses are 'overdue', 'not due yet', and 'due soon'.</li>
</ul>
</div>